---
title: AmpFeature
blurb: Calculate the amplitude differential feature of audio.
tags:
    - segmentation
    - slicing
    - time series
flair: reference
category: Analyse Sound
---

For now, see [AmpFeature](/reference/ampslice)