{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 120,
	"tabWidth": 4,
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": ["*.mdx", "*.svx"],
			"options": {
				"parser": "markdown"
			}
		}
	]
}
