# Sam Pluta

Sam was a commissioned composer.

You can see his piece here:

<iframe width="560" height="315" src="https://www.youtube.com/embed/5mSmoMIYgWk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/F5mwfVr0nU4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

Sam is also an active member of our [discourse](https://discourse.flucoma.org). This is a forum where you can make posts, and talk to other users of FluCOMa as well as dream and brainstorm more widely about the role of machine listening, learning and computers in artistic practice.