# Corpus

A corpus is often thought of as a collection of sounds, musical materials or elements for making and creating music. A sample library is a good example of just one type of a corpus that can exist in practice.

We'd like to break down this idea of a corpus into the things it *can* be, rather than specifying what a corpus *definitely* is.

In [Sam Pluta's](/spotlights/sam-pluta) work the notion of a corpus is not specifically sound files that can be played back. Sam **collects** different parameter combinations that control a synthesiser and brings them together as an item. 