---
layout: none
---

<script>
    import CardList from '$lib/components/cards/List.svelte';
</script>

# Made with FluCoMa

Made with FluCoMa highlights projects and practices where FluCoMa is used. 

Find a full catalogue of pieces that were made using the FluCoMa tools [here](https://www.flucoma.org/made-with/).

<CardList section='madewithflucoma' />
