---
title: SCI★FI★HI★FI Machine Learning Remix (2019)
artist: Owen Green and Matt Brennan
blurb: |
    Generative remix of Brennan's Citizen Bravo album, Build A
tags: 
    - generative
    - remix
flair: composition
---

A composition by [Pierre Alexandre Tremblay](https://www.pierrealexandretremblay.com/) using the FluCoMa tools. A recording can be found [here](https://electrocd.com/en/oeuvre/43907/Pierre_Alexandre_Tremblay/Attempts_at_Stillness).

