---
title: OnsetFeature
blurb: Calculates the spectral difference feature of audio.
tags:
    - segmentation
    - slicing
    - time series
flair: reference
category: Analyse Sound
---

For now, see [OnsetSlice](/reference/onsetslice)