
.interactive {
	max-width: 300px;
	border-radius: 0.25rem;
	border: 0.063rem solid #dcdee0;
	padding: 0.75em;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: box-shadow 200ms ease-in-out;
}

.interactive:hover {
	box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

.description {
	color: rgb(104, 104, 104);
	text-align: left;
	font-size: 0.8rem;
}

.gs-headers {
	margin: 0;
}

.tile {
	text-decoration: none;
	color: black;
}

.tile:hover {
	background: transparent;
	color: black;
}

