---
title: Classifying instrumental timbre with a neural network
short: Timbre Classification
blurb: |
    Neural networks are powerful tools...
tags:
    - max
    - neural network
    - machine learning
    - machine listening
    - multi-layer perceptron
---