---
title: AmpSlice
blurb: Relative value amplitude-based slicing
tags: 
    - slicing
    - segmentation
---

<script>
    import Ampslice from '$lib/widget/Ampslice.svelte';
</script>

<Ampslice />

