---
title: STFT (Short-Term Fourier Transform)
blurb: Conversion from the time domain to the spectral domain
tags: 
    - descriptor
    - analysis
    - spectral
flair: reference
category: Analyse Sound
---