---
title: KMeans
blurb: Learn clusters from data
tags: 
    - data
    - querying
    - clustering
---

<script context="module">
    export const ssr = false;
</script>

<script>
    import KMeans from '$lib/widget/KMeans.svelte';
</script>

<KMeans />

