---
title: MDS
blurb: Multi-dimensional scaling of a FluidDataSet
tags: 
    - data
    - dimension reduction
    - dimensionality reduction
    - mapping
    - statistics
    - preprocessing
flair: reference
category: Analyse Data
---


