---
title: Mel-cepstrum Frequency Coefficients
tags: audio-descriptor, features
---

<script>
    import MFCCScrub from '$lib/widget/MFCCScrub.svelte';
</script>

# Mel-cepstrum Frequency Coefficients (MFCC)

<MFCCScrub />




