---
title: MFCC
blurb: Mel-Frequency Cepstrum Coefficients
tags: 
    - descriptor
    - analysis
---

<script>
    import MFCCScrub from '$lib/widget/MFCCScrub.svelte';
</script>

# Mel-Frequency Cepstrum Coefficients (MFCCs)

<MFCCScrub />




