---
title: NMFCross
blurb: Resynthesise a target sound based on a source sound
tags:
    - data
    - nmf
    - machine learning
    - spectral
    - cross-synthesis
flair: reference
category: Transform
---