---
title: NMFMatch
blurb: Sound matching using real-time non-negative matrix factorisation
tags:
    - data
    - nmf
    - machine learning
    - spectral
flair: reference
category: Analyse Sound
---