---
title: NoveltyFeature
blurb: Calculates the novelty feature of audio.
tags:
    - segmentation
    - slicing
    - time series
flair: reference
category: Analyse Sound
---

For now, see [NoveltySlice](/reference/noveltyslice)