---
title: PCA
blurb: Principal component analysis of a FluidDataSet
tags: 
    - data
    - dimension reduction
    - dimensionality reduction
    - mapping
    - statistics
    - preprocessing
flair: reference
category: Analyse Data
---


