@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Overpass&display=swap');
:root {
    --overpass: 'Overpass', sans-serif;
    --sans: sans-serif;
    --dark-blue: rgb(8,60,100);
    --med-blue: rgb(3,113,181);
    --light-blue: rgb(28,164,252);
} 


html {
    font-family: var(--overpass)
}

h1, h2 {
    margin-bottom: 1em;
}

body {
    margin: 0;
}

p {
    margin-bottom: 1em;
    margin-top: 1em;
}

a {
    color: rgb(28, 122, 185);   
}