/* 
Taking lots of inspiration from Distill.pub 
https://github.com/distillpub/template/blob/master/src/styles/d-article.css 
g*/

@import './fonts.css';
@import './code.css';
@import './utils.css';
@import './jargon.css';
@import './flair.css';

:root {
	--breakpoint: 1200px;
	--font: 'overpassregular', sans-serif;
	--mono: 'Overpass Mono', monospace;
	--dark-blue: rgb(8, 60, 100);
	--med-blue: rgb(3, 113, 181);
	--light-blue: rgb(28, 164, 252);
	--max-text-width: 70ch;
	--min-text-width: 30ch;
	--footer-height: 42px;
	--event-flair: rgb(235, 161, 23);
	--article-flair: var(--light-blue);
	--reference-flair: rgb(34, 140, 34);
	--podcast-flair: palevioletred;
	--tutorial-flair: rgba(102, 103, 171, 255);
	--grey: rgb(89, 89, 89);
}

* {
	box-sizing: border-box;
}

html {
	font-family: var(--font);
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font);
	margin: 0.6em 0;
}

p,
ul,
ol,
blockquote {
	margin-top: 0;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	line-height: 1.7em;
}

li {
	margin-left: 0;
	margin-right: 0;
}

h1 {
	font-size: 2.625em;
	line-height: 1.2;
}

h2 {
	font-size: 1.625em;
	line-height: 1.2;
}

h3 {
	font-size: 1.3125em;
	line-height: 1.24;
}

h4 {
	font-size: 1.1875em;
	line-height: 1.23;
}

h5,
h6 {
	font-size: 1em;
	font-weight: bold;
}

a {
	color: var(--med-blue);
	max-width: max-content;
}

a:hover {
	color: white;
	background: var(--med-blue);
}

.title-box:after {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	height: 1px;
	content: ' ';
	display: block;
	border-top: 0.5px solid #dcdee0;
}

code {
	font-family: var(--mono);
	font-size: 1em;
	color: #555;
	background-color: #f0f0f0;
	padding: 0.1em 0.1em;
	border-radius: 2px;
}

.autolink {
	width: 16px;
	height: 16px;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

h2 > a:hover {
	background-color: transparent;
}
