@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Overpass&display=swap');

$font: 'Overpass', sans-serif;
$dark-blue: rgb(8,60,100);
$med-blue: rgb(3,113,181);
$light-blue: rgb(28,164,252);
$breakpoint: 1100px;

html {
    font-family: $font;
}

body {
    margin: 0;
}

p {
    margin-bottom: 1em;
    margin-top: 1em;
}

a {
    color: rgb(28, 122, 185);   
}

a:hover{
    color: white;
    background: rgb(28, 122, 185);  
}

h1:after {
    content: ' ';
    display: block;
    border: 0.5px solid #d0d0d0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}