@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Overpass&display=swap');

html {
    font-family: 'Overpass', sans-serif;
}

h1, h2 {
    margin-bottom: 1em;
}

body {
    margin: 0;
}

p {
    margin-bottom: 1em;
    margin-top: 1em;
}