.interactive-example-container {
	margin-top: 2em;
	margin-bottom: 2em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	border-width: 2px;
	border-style: solid;
	border-color: rgba(28, 164, 252, 0.3);
	padding: 1em;
}