.event {
	background-color: rgb(235, 161, 23);
}

.article {
	background-color: var(--light-blue);
}

.reference {
	background-color: forestgreen;
}

.podcast {
	background-color: palevioletred;
}

.tutorial {
	background-color: rgba(102, 103, 171, 255);
}
