@font-face {
	font-family: 'overpassregular';
	src: url('overpass-webfont.woff2') format('woff2'), url('overpass-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'overpass_monolight';
	src: url('overpass-mono-webfont.woff2') format('woff2'),
		url('overpass-mono-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
