.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
}

.neutral-link {
	background-color: white;
	text-decoration: none;
}

.neutral-link:hover {
	background-color: white;
	text-decoration: none;
}

.raisedbox {
	border: 0.063rem solid #dcdee0;
	border-radius: 0.25em;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: box-shadow 200ms ease-in-out;
}

.raisedbox:hover {
	box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

.noscroll {
	height: 100%;
	overflow-y: hidden;
	overflow: hidden;
}
