.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
}

.neutral-link {
	background-color: white;
	text-decoration: none;
}

.neutral-link:hover {
	background-color: white;
	text-decoration: none;
}

.raisedbox {
	transition: box-shadow 50ms linear;
}

.raisedbox:hover {
	box-shadow: rgb(255, 255, 255) -5px 5px, rgba(3, 113, 181, 0.2) -10px 10px, rgba(3, 113, 181, 0.1) -15px 15px, rgba(3, 113, 181, 0.05) -20px 20px;
	/* box-shadow: rgba(3, 113, 181, 0.2) -5px 5px, rgba(3, 113, 181, 0.1) -10px 10px, rgba(3, 113, 181, 0.05) -15px 15px; */
}

.noscroll {
	height: 100%;
	overflow-y: hidden;
	overflow: hidden;
}
