.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px;
}

.neutral-link {
    background-color: white;
    text-decoration: none;
}

.neutral-link:hover {
    background-color: white;
    text-decoration: none;
}

.raisedbox {
    border: 0.063rem solid #dcdee0;
    border-radius: 0.25em;
}

.raisedbox:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.raisedbox, .raisedbox:hover {
    transition: box-shadow 200ms ease-in-out;
}

.noscroll {
    height: 100%;
    overflow-y: hidden;
}