# Why Scale

Why would you scale data? 

- Contribution of different data ranges (db/pitch)

# Normalisation

- using the fit to rescale incoming data.

See http://www.faqs.org/faqs/ai-faq/neural-nets/part2/section-16.html