name: tests

on:
    pull_request:
        branches: ['*']

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - uses: actions/setup-node@v3
              with:
                node-version: 19

            - name: install pnpm
              run: npm i -g pnpm

            - name: Install Dependencies
              run: pnpm i

            - name: Run Tests
              run: pnpm run test
