on:
  issues:
    types: [labeled]
jobs:
  Move_Labeled_Issue_On_Project_Board:
    runs-on: ubuntu-latest
    steps:
    - uses: konradpabjan/move-labeled-or-milestoned-issue@v2.0
      with:
        action-token: "${{ secrets.REFERENCES_AUTOMATION }}"
        project-url: "https://github.com/flucoma/learn/projects/3"
        column-name: "Todo"
        label-name: "reference"
        columns-to-ignore: "Progress,Done"
